<div>Texto para generar especio 1, PrimeNG lts no me deja ver</div>
<div>Texto para generar especio 1, PrimeNG lts no me deja ver</div>


<shared-menu></shared-menu>
<router-outlet></router-outlet>
<!-- <h3> {{ title }} </h3> -->

<!-- Ejemplos varios -->
<!--
  <h1> {{ title | uppercase }}  </h1>
  <h1> {{ title | lowercase }}  </h1>
  <h1> {{ title | titlecase }}  </h1>
  <h1> {{ title | slice:5 }}   </h1>
  <h1> {{ title | slice:0:5 | lowercase }} ...   </h1>
  <h1> {{ title | slice:6 | titlecase }}   </h1>
-->

<!-- <h1> {{ title }} </h1> -->

<!--
  <button pButton> Hola Asteroide </button>
  <p-button label="Otro Boton">  </p-button>
-->

<!--
  <p-button label="label" icon="pi pi-check" iconPos="left"></p-button>
  <i class="pi pi-check"></i>
-->
